layout {
    default_tab_template {
        pane size=1 {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 {
            plugin location="zellij:status-bar"
        }
    }
    pane_template name="neovim-bash" {
        pane stacked=true {
            pane name="neovim" command="nvim"
            pane name="bash"
        }
    }
    tab name="bash" cwd="~/" {
        pane
    }
    tab name="neovim" cwd="~/.config/nvim/" {
        neovim-bash
    }
    tab name="dotfiles" cwd="~/dotfiles/" {
        neovim-bash
    }
    tab name="zigling" cwd="~/code/zig/ziglings.org/" {
        neovim-bash
    }
}
