layout {
    default_tab_template {
        pane size=1 {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab name="bash"{
        pane name="bash"
    }
    tab name="neovim" {
        pane name="neovim"
    }
}
